@font-face {
    font-family: 'Lobster_1_4';
    src: url('fonts/Lobster_1_4.eot');
    src: url('fonts/Lobster_1_4.eot') format('embedded-opentype'),
    url('fonts/Lobster_1_4.woff2') format('woff2'),
    url('fonts/Lobster_1_4.woff') format('woff'),
    url('fonts/Lobster_1_4.ttf') format('truetype'),
    url('fonts/Lobster_1_4.svg#Lobster_1_4') format('svg');
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('fonts/OpenSansRegular.eot');
    src: url('fonts/OpenSansRegular.eot') format('embedded-opentype'),
    url('fonts/OpenSansRegular.woff2') format('woff2'),
    url('fonts/OpenSansRegular.woff') format('woff'),
    url('fonts/OpenSansRegular.ttf') format('truetype'),
    url('fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}

@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('fonts/OpenSansSemiBold.eot');
    src: url('fonts/OpenSansSemiBold.eot') format('embedded-opentype'),
    url('fonts/OpenSansSemiBold.woff2') format('woff2'),
    url('fonts/OpenSansSemiBold.woff') format('woff'),
    url('fonts/OpenSansSemiBold.ttf') format('truetype'),
    url('fonts/OpenSansSemiBold.svg#OpenSansSemiBold') format('svg');
}


@mixin max-screen($res) {
    @media screen and (max-width: $res) {
        @content;
    }
}



body {
    font-family: 'OpenSansRegular', sans-serif;
    header {
        padding: 0;

        .navbar {
            background-image: linear-gradient(to bottom, #fff 0, #fff 0%);
            box-shadow: none;
            border: none;

            .container {
                .navbar-header {
                    a.navbar-brand {
                        font-family: 'Lobster_1_4', sans-serif;
                        color: #44c0c2;
                        font-size: 43px;
                        padding: 40px 0;
                        @include max-screen(830px){
                            padding: 40px 15px;
                        }
                    }
                    button {
                        padding: 40px 15px;
                        border: none;
                        .icon-bar {
                            width: 30px;
                        }
                    }
                }
                .navbar-collapse{
                    .navbar-nav {
                        li {
                            font-size: 15px;
                            a{
                                padding: 42px 26px;
                                border-bottom: transparent solid 2px;
                                transition: 0.3s;
                                color: #484c55;
                                @include max-screen(830px){
                                    padding: 42px 13px;
                                }
                            }
                            a:hover {
                                background-color: #f8f9fb;
                                color: #49cbcd;
                                border-bottom: #49cbcd solid 2px;
                            }
                        }
                    }
                }
            }
        }
    }
    .carousel {
        margin-top: -20px;
        .carousel-inner {
            .item {
                .carousel-caption {
                    top: 110px;
                    @include max-screen(1160px) {
                        top: 50px;
                    }
                    @include max-screen(820px){
                        top: 0;
                    }
                    @include max-screen(500px){
                        top: -30px;
                    }
                    h2 {
                        font-size: 63px;
                        font-family: OpenSansSemiBold, sans-serif;
                        margin-bottom: 30px;
                        @include max-screen(1225px) {
                            font-size: 40px;
                        }
                        @include max-screen(820px){
                            font-size: 30px;
                            margin-bottom: 15px;
                        }
                        @include max-screen(500px){
                            font-size: 25px;
                        }
                        @include max-screen(430px){
                            font-size: 20px;
                            margin-bottom: 5px;
                        }
                    }
                    p {
                        font-size: 23px;
                        max-width: 375px;
                        margin: 0 auto 60px;
                        @include max-screen(1225px) {
                            font-size: 16px;
                        }
                        @include max-screen(820px){
                            font-size: 10px;
                            margin-bottom: 30px;
                        }
                        @include max-screen(430px){
                            margin-bottom: 10px;
                        }
                    }
                    a {
                        color: white;
                        font-size: 26px;
                        font-family: OpenSansSemiBold, sans-serif;
                        padding: 20px;
                        border: solid 2px white;
                        border-radius: 5px;
                        @include max-screen(1024px){
                            padding: 10px 20px;
                            font-size: 16px;
                        }
                        @include max-screen(820px){
                            font-size: 10px;
                            border: solid 1px white;
                        }
                        @include max-screen(430px){
                            padding: 5px 10px;
                        }
                    }
                }
            }
        }
        a.carousel-control {
            span {
                i {
                    background-color: white;
                    opacity: 100%;
                    width: 50px;
                    height: 50px;
                    padding: 12px 15px;
                    border-radius: 30px;
                    margin-top: 18vw;
                    font-size: 26px;
                    color: #49cbcd;
                    text-shadow: none;
                }
            }
        }
    }
    section {
        div.container {
            padding: 110px 0;
            h1 {
                text-align: center;
                color: #4e525d;
                font-size: 42px;
                margin-bottom: 140px;
            }
            .row{
                div{
                    .thumbnail{
                        border: none;
                        box-shadow: none;
                        text-align: center;
                        .user-photo{
                            width: 200px;
                            height: 200px;
                            border-radius: 100px;
                            background-color: #eeeef0;
                            margin: auto;
                            img{
                                width: 200px;
                                height: 200px;
                                border-radius: 100px;
                            }
                            a{
                                color: #f46d6d;
                                font-size: 40px;
                                top: 5px;
                                left: 50px;
                                padding: 70px 82px;
                                position: absolute;
                                border-radius: 200px;
                            }
                        }
                        .caption{
                            h3{
                                font-size: 22px;
                                color: #4e525d;
                                margin-bottom: 2px;
                            }
                            p{
                                font-size: 14px;
                                color: #4e525d;
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}