@font-face {
  font-family: 'Lobster_1_4';
  src: url("fonts/Lobster_1_4.eot");
  src: url("fonts/Lobster_1_4.eot") format("embedded-opentype"), url("fonts/Lobster_1_4.woff2") format("woff2"), url("fonts/Lobster_1_4.woff") format("woff"), url("fonts/Lobster_1_4.ttf") format("truetype"), url("fonts/Lobster_1_4.svg#Lobster_1_4") format("svg"); }
@font-face {
  font-family: 'OpenSansRegular';
  src: url("fonts/OpenSansRegular.eot");
  src: url("fonts/OpenSansRegular.eot") format("embedded-opentype"), url("fonts/OpenSansRegular.woff2") format("woff2"), url("fonts/OpenSansRegular.woff") format("woff"), url("fonts/OpenSansRegular.ttf") format("truetype"), url("fonts/OpenSansRegular.svg#OpenSansRegular") format("svg"); }
@font-face {
  font-family: 'OpenSansSemiBold';
  src: url("fonts/OpenSansSemiBold.eot");
  src: url("fonts/OpenSansSemiBold.eot") format("embedded-opentype"), url("fonts/OpenSansSemiBold.woff2") format("woff2"), url("fonts/OpenSansSemiBold.woff") format("woff"), url("fonts/OpenSansSemiBold.ttf") format("truetype"), url("fonts/OpenSansSemiBold.svg#OpenSansSemiBold") format("svg"); }
body {
  font-family: 'OpenSansRegular', sans-serif; }
  body header {
    padding: 0; }
    body header .navbar {
      background-image: linear-gradient(to bottom, #fff 0, #fff 0%);
      box-shadow: none;
      border: none; }
      body header .navbar .container .navbar-header a.navbar-brand {
        font-family: 'Lobster_1_4', sans-serif;
        color: #44c0c2;
        font-size: 43px;
        padding: 40px 0; }
        @media screen and (max-width: 830px) {
          body header .navbar .container .navbar-header a.navbar-brand {
            padding: 40px 15px; } }
      body header .navbar .container .navbar-header button {
        padding: 40px 15px;
        border: none; }
        body header .navbar .container .navbar-header button .icon-bar {
          width: 30px; }
      body header .navbar .container .navbar-collapse .navbar-nav li {
        font-size: 15px; }
        body header .navbar .container .navbar-collapse .navbar-nav li a {
          padding: 42px 26px;
          border-bottom: transparent solid 2px;
          transition: 0.3s;
          color: #484c55; }
          @media screen and (max-width: 830px) {
            body header .navbar .container .navbar-collapse .navbar-nav li a {
              padding: 42px 13px; } }
          @media screen and (max-width: 768px) {
            body header .navbar .container .navbar-collapse .navbar-nav li a {
              padding: 20px 13px; } }
        body header .navbar .container .navbar-collapse .navbar-nav li a:hover {
          background-color: #f8f9fb;
          color: #49cbcd;
          border-bottom: #49cbcd solid 2px; }
  body .carousel {
    margin-top: -20px; }
    body .carousel .carousel-inner .item .carousel-caption {
      top: 110px; }
      @media screen and (max-width: 1160px) {
        body .carousel .carousel-inner .item .carousel-caption {
          top: 50px; } }
      @media screen and (max-width: 820px) {
        body .carousel .carousel-inner .item .carousel-caption {
          top: 0; } }
      @media screen and (max-width: 500px) {
        body .carousel .carousel-inner .item .carousel-caption {
          top: -30px; } }
      body .carousel .carousel-inner .item .carousel-caption h2 {
        font-size: 63px;
        font-family: OpenSansSemiBold, sans-serif;
        margin-bottom: 30px; }
        @media screen and (max-width: 1225px) {
          body .carousel .carousel-inner .item .carousel-caption h2 {
            font-size: 40px; } }
        @media screen and (max-width: 820px) {
          body .carousel .carousel-inner .item .carousel-caption h2 {
            font-size: 30px;
            margin-bottom: 15px; } }
        @media screen and (max-width: 500px) {
          body .carousel .carousel-inner .item .carousel-caption h2 {
            font-size: 25px; } }
        @media screen and (max-width: 430px) {
          body .carousel .carousel-inner .item .carousel-caption h2 {
            font-size: 20px;
            margin-bottom: 5px; } }
      body .carousel .carousel-inner .item .carousel-caption p {
        font-size: 23px;
        max-width: 375px;
        margin: 0 auto 60px; }
        @media screen and (max-width: 1225px) {
          body .carousel .carousel-inner .item .carousel-caption p {
            font-size: 16px; } }
        @media screen and (max-width: 820px) {
          body .carousel .carousel-inner .item .carousel-caption p {
            font-size: 10px;
            margin-bottom: 30px; } }
        @media screen and (max-width: 430px) {
          body .carousel .carousel-inner .item .carousel-caption p {
            margin-bottom: 10px; } }
      body .carousel .carousel-inner .item .carousel-caption a {
        color: white;
        font-size: 26px;
        font-family: OpenSansSemiBold, sans-serif;
        padding: 20px;
        border: solid 2px white;
        border-radius: 5px; }
        @media screen and (max-width: 1024px) {
          body .carousel .carousel-inner .item .carousel-caption a {
            padding: 10px 20px;
            font-size: 16px; } }
        @media screen and (max-width: 820px) {
          body .carousel .carousel-inner .item .carousel-caption a {
            font-size: 10px;
            border: solid 1px white; } }
        @media screen and (max-width: 430px) {
          body .carousel .carousel-inner .item .carousel-caption a {
            padding: 5px 10px; } }
    body .carousel a.carousel-control span i {
      background-color: white;
      opacity: 100%;
      width: 50px;
      height: 50px;
      padding: 12px 15px;
      border-radius: 30px;
      margin-top: 18vw;
      font-size: 26px;
      color: #49cbcd;
      text-shadow: none; }
  body section div.container {
    padding: 110px 0; }
    body section div.container h1 {
      text-align: center;
      color: #4e525d;
      font-size: 42px;
      margin-bottom: 140px; }
    body section div.container .row {
      width: 100%; }
      @media screen and (max-width: 330px) {
        body section div.container .row {
          max-width: 280px;
          margin: auto; } }
      body section div.container .row div .thumbnail {
        border: none;
        box-shadow: none;
        text-align: center; }
        @media screen and (max-width: 768px) {
          body section div.container .row div .thumbnail {
            max-width: 300px;
            margin: auto; } }
        body section div.container .row div .thumbnail .user-photo {
          width: 200px;
          height: 200px;
          border-radius: 100px;
          background-color: #eeeef0;
          margin: auto; }
          body section div.container .row div .thumbnail .user-photo img {
            width: 200px;
            height: 200px;
            border-radius: 100px; }
          body section div.container .row div .thumbnail .user-photo a {
            color: #f46d6d;
            font-size: 40px;
            width: 200px;
            position: relative;
            top: 75px; }
        body section div.container .row div .thumbnail .caption h3 {
          font-size: 22px;
          color: #4e525d;
          margin-bottom: 2px; }
        body section div.container .row div .thumbnail .caption p {
          font-size: 14px;
          color: #4e525d;
          margin-bottom: 20px; }
  body .gray {
    background-color: #f1f1f1; }
    body .gray .row div {
      padding: 0;
      background-color: inherit; }
      body .gray .row div .list {
        background-color: #f8f9fb;
        margin: 20px 20px; }
        @media screen and (max-width: 330px) {
          body .gray .row div .list {
            margin: 20px 10px; } }
        body .gray .row div .list h4 {
          padding: 26px;
          font-size: 26px;
          color: white;
          background-color: #485460;
          margin: 0; }
        body .gray .row div .list div {
          font-size: 20px;
          color: #485460;
          padding: 20px;
          margin: 0; }
        body .gray .row div .list p {
          font-size: 14px;
          padding: 15px;
          margin: 0;
          background-color: white;
          width: 100%;
          color: #8c9299;
          border-bottom: 1px solid #ecf0f1; }
        body .gray .row div .list p:first-of-type {
          border-top: 1px solid #ecf0f1; }
        body .gray .row div .list a {
          margin: 29px 0;
          font-family: OpenSansSemiBold, sans-serif;
          color: white;
          background-color: #788492;
          width: 200px; }
        body .gray .row div .list .bg {
          background-color: #49cbcd; }

/*# sourceMappingURL=main.css.map */
