@font-face {
    font-family: 'Lobster_1_4';
    src: url('fonts/Lobster_1_4.eot');
    src: url('fonts/Lobster_1_4.eot') format('embedded-opentype'),
    url('fonts/Lobster_1_4.woff2') format('woff2'),
    url('fonts/Lobster_1_4.woff') format('woff'),
    url('fonts/Lobster_1_4.ttf') format('truetype'),
    url('fonts/Lobster_1_4.svg#Lobster_1_4') format('svg');
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('fonts/OpenSansRegular.eot');
    src: url('fonts/OpenSansRegular.eot') format('embedded-opentype'),
    url('fonts/OpenSansRegular.woff2') format('woff2'),
    url('fonts/OpenSansRegular.woff') format('woff'),
    url('fonts/OpenSansRegular.ttf') format('truetype'),
    url('fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}

@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('fonts/OpenSansSemiBold.eot');
    src: url('fonts/OpenSansSemiBold.eot') format('embedded-opentype'),
    url('fonts/OpenSansSemiBold.woff2') format('woff2'),
    url('fonts/OpenSansSemiBold.woff') format('woff'),
    url('fonts/OpenSansSemiBold.ttf') format('truetype'),
    url('fonts/OpenSansSemiBold.svg#OpenSansSemiBold') format('svg');
}


@mixin max-screen($res) {
    @media screen and (max-width: $res) {
        @content;
    }
}



body {
    font-family: 'OpenSansRegular', sans-serif;
    header {
        padding: 0;

        .navbar {
            background-image: linear-gradient(to bottom, #fff 0, #fff 0%);
            box-shadow: none;
            border: none;

            .container {
                .navbar-header {
                    a.navbar-brand {
                        font-family: 'Lobster_1_4', sans-serif;
                        color: #44c0c2;
                        font-size: 43px;
                        padding: 40px 0;
                        @include max-screen(830px){
                            padding: 40px 15px;
                        }
                    }
                    button {
                        padding: 40px 15px;
                        border: none;
                        .icon-bar {
                            width: 30px;
                        }
                    }
                }
                .navbar-collapse{
                    .navbar-nav {
                        li {
                            font-size: 15px;
                            a{
                                padding: 42px 26px;
                                border-bottom: transparent solid 2px;
                                transition: 0.3s;
                                color: #484c55;
                                @include max-screen(830px){
                                    padding: 42px 13px;
                                }
                                @include max-screen(768px){
                                    padding: 20px 13px;
                                }

                            }
                            a:hover {
                                background-color: #f8f9fb;
                                color: #49cbcd;
                                border-bottom: #49cbcd solid 2px;
                            }
                        }
                    }
                }
            }
        }
    }
    .carousel {
        margin-top: -20px;
        .carousel-inner {
            .item {
                .carousel-caption {
                    top: 110px;
                    @include max-screen(1160px) {
                        top: 50px;
                    }
                    @include max-screen(820px){
                        top: 0;
                    }
                    @include max-screen(500px){
                        top: -30px;
                    }
                    h2 {
                        font-size: 63px;
                        font-family: OpenSansSemiBold, sans-serif;
                        margin-bottom: 30px;
                        @include max-screen(1225px) {
                            font-size: 40px;
                        }
                        @include max-screen(820px){
                            font-size: 30px;
                            margin-bottom: 15px;
                        }
                        @include max-screen(500px){
                            font-size: 25px;
                        }
                        @include max-screen(430px){
                            font-size: 20px;
                            margin-bottom: 5px;
                        }
                    }
                    p {
                        font-size: 23px;
                        max-width: 375px;
                        margin: 0 auto 60px;
                        @include max-screen(1225px) {
                            font-size: 16px;
                        }
                        @include max-screen(820px){
                            font-size: 10px;
                            margin-bottom: 30px;
                        }
                        @include max-screen(430px){
                            margin-bottom: 10px;
                        }
                    }
                    a {
                        color: white;
                        font-size: 26px;
                        font-family: OpenSansSemiBold, sans-serif;
                        padding: 20px;
                        border: solid 2px white;
                        border-radius: 5px;
                        @include max-screen(1024px){
                            padding: 10px 20px;
                            font-size: 16px;
                        }
                        @include max-screen(820px){
                            font-size: 10px;
                            border: solid 1px white;
                        }
                        @include max-screen(430px){
                            padding: 5px 10px;
                        }
                    }
                }
            }
        }
        a.carousel-control {
            span {
                i {
                    background-color: white;
                    opacity: 100%;
                    width: 50px;
                    height: 50px;
                    padding: 12px 15px;
                    border-radius: 30px;
                    margin-top: 18vw;
                    font-size: 26px;
                    color: #49cbcd;
                    text-shadow: none;
                }
            }
        }
    }
    section {
        div.container {
            padding: 60px 0;
            h1 {
                text-align: center;
                color: #4e525d;
                font-size: 42px;
                margin-top: 50px;
                margin-bottom: 140px;
            }
            .row{
                width: 100%;
                @include max-screen(330px){
                    max-width: 280px;
                    margin: auto;
                }
                div{
                    .thumbnail{
                        border: none;
                        box-shadow: none;
                        text-align: center;
                        @include max-screen(768px){
                            max-width: 300px;
                            margin: auto;
                        }
                        .user-photo{
                            width: 200px;
                            height: 200px;
                            border-radius: 100px;
                            background-color: #eeeef0;
                            margin: auto;
                            overflow: hidden;
                            background-size: cover;
                            background-position: center center;
                            img{
                                width: 100%;
                            }
                            a{
                                color: #f46d6d;
                                font-size: 40px;
                                width: 200px;
                                position: relative;
                                top: 75px;
                            }
                        }
                        .user-photo:after{
                            position: absolute;
                            content: '+';
                            font-size: 50px;
                            font-weight: bold;
                            color: #ff253a;
                            top: 70px;
                            left: 135px;
                            opacity: 0;
                            transition: 0.3s;
                        }
                        .user-photo:hover{
                            &:after{
                                opacity: 1;
                            }
                        }
                        .caption{
                            h3{
                                font-size: 22px;
                                color: #4e525d;
                                margin-bottom: 20px;
                                span{
                                    margin-top: 2px;
                                    font-size: 14px;
                                    display: block;
                                }
                            }
                            p{
                                font-size: 14px;
                                color: #4e525d;
                            }
                        }
                    }
                }
            }
        }
    }
    .gray{
        background-color: #f1f1f1;
        .container{
            .row{
                div{
                    padding: 0;
                    background-color: inherit;
                    .cupone{
                        margin: 50px 1px;
                        ul{
                            list-style: none;
                            text-align: center;
                            margin: 0;
                            li{
                                font-size: 14px;
                                padding: 15px;
                                margin: 0;
                                background-color: white;
                                width: 100%;
                                color: #8c9299;
                                border-bottom: 1px solid #ecf0f1;
                                &:first-of-type{
                                    font-size: 20px;
                                    background-color: #f8f9fb;
                                    color: #485460;
                                }
                            }
                        }
                        ol{
                            list-style: none;
                            text-align: center;
                            margin: 0;
                            li{
                                padding: 26px;
                                font-size: 26px;
                                color: white;
                                background-color: #485460;
                                margin: 0;
                            }
                            .bg{
                                background-color: #49cbcd;
                            }
                            &:last-of-type{
                                li{
                                    background-color: #f8f9fb;
                                    padding: 29px 0;
                                    a{
                                        font-size: 20px;
                                        margin: 29px auto;
                                        text-decoration: none;
                                        font-family: OpenSansSemiBold, sans-serif;
                                        color: white;
                                        background-color: #788492;
                                        padding: 7px 40px;
                                        border-radius: 3px;
                                    }
                                    .bg{
                                        background-color: #49cbcd;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    footer{
        background: url("../images/footer-bg.png") no-repeat;
        background-size: cover;
        padding: 100px 0;
        .container{
            h5{
                text-align: center;
                color: white;
                font-size: 42px;
                margin-bottom: 60px;
            }
            .row{
                div{
                    h3{
                        font-size: 24px;
                        color: #ffffff;
                        margin-bottom: 18px;
                    }
                    p{
                        color: white;
                        font-size: 12px;
                        max-width: 430px;
                        margin-bottom: 40px;
                    }

                    div{
                        margin-bottom: 30px;
                        a{
                            color: white;
                            font-size: 24px;
                            background-color: #3ec2f3;
                            padding: 10px 8px 10px 13px;
                            margin: 0 15px 0 0;
                            border-radius: 50px;
                            i{
                                margin-left: 2px;
                            }
                        }
                        a:hover{
                            text-decoration: none;
                        }
                        a:first-child{
                            background-color: #3b5997;
                            margin-left: 0;
                            i{
                                margin: 0 7px;
                            }
                        }
                        a:last-child{
                            background-color: #e44c41;
                            padding: 10px 10px 10px 11px;
                        }
                    }
                    .contacts{
                        color: #bface2;
                        margin-bottom: 5px;
                    }

                    form{
                        margin-top: 10px;
                        input, textarea{
                            border: none;
                            box-shadow: none;
                            padding: 15px 20px;
                            border-radius: 3px;
                            background-color: white;
                            box-sizing: border-box;
                        }
                        input{
                            margin-left: 3px;
                            @include max-screen(768px){
                                margin: 3px;
                            }
                        }
                        textarea{
                            margin: 30px 3px;
                            height: 180px;
                            resize: none;
                        }
                        button{
                            padding: 12px 20px;
                            font-size: 20px;
                            border-radius: 3px;
                            box-shadow: none;
                            border: none;
                            background-color: #49cbcd;
                            color: white;

                        }
                    }
                }
            }
        }
    }
}